
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --intense-gray: #131222;
  --moderate-gray: #232230;
  --light-gray: #363543;
  --moderate-red: #CE4F58;
  --moderate-white: #E9F2DD;
  --intense-blue:#1565c0;
  --moderate-violeta:#9c27b0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.card-list-container::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
  background-color: #1565c0; 
}

.card-list-container::-webkit-scrollbar-thumb {
  background: #9c27b0; 
  border-radius: 30px; 
  cursor: pointer; 
}

html{
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  box-sizing: border-box;
  color: var(--moderate-white);
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
  overflow: hidden;
  background: var(--intense-gray);
  padding-top: 10px;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 315px; 
  /* max-height: calc(100% - 10px);  */
  box-sizing: border-box;
  overflow: hidden; 
  background: var(--intense-gray);
}


.elemento {
  max-width: 100%;
  max-height: 100%;
  padding: 10px; 
  box-sizing: border-box; 
  overflow: hidden;
  background: var(--intense-gray); 
}

.card-list-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll !important;
  gap:8px;
}

.event-card{
  min-width: 280px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-center {
  width: 100%;
  height: 100%;
  max-width: 315px; 
  box-sizing: border-box;
  overflow: hidden; 
  background: var(--moderate-red);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.elemento-center {
  width: 100%; 
  height: 100%;
  max-width: 315px; 
  max-height: 100%;
  padding: 10px; 
  box-sizing: border-box; 
  overflow: hidden;
  background: var(--intense-gray); 
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-list-container::-webkit-scrollbar {
  height: 3px;
  background-color: var(--intense-gray);
}

.card-list-container::-webkit-scrollbar-thumb {
  background: var(--moderate-violeta);
  border-radius: 99px;
  cursor: pointer;
}




@media (min-width: 640px) {
  #calendar-container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #day-events-container{
    flex-direction: column;
    justify-content: flex-start;
    height: 410px;
  }
  .card-list-container{
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 10px;
    max-height: 340px;
  }
  .container {
    flex-direction: row;
  }
  body{
    justify-content: center;
  }
}

/* inputs */
.css-wb57ya-MuiFormControl-root-MuiTextField-root{
  margin-bottom:5px;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  color: var(--moderate-white);
}
.css-953pxc-MuiInputBase-root-MuiInput-root,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  color: var(--moderate-white)
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root::before,
.css-953pxc-MuiInputBase-root-MuiInput-root::before{
  border-bottom-color: var(--moderate-white) !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color:var(--moderate-white)
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
  color:var(--intense-blue)
}

/* calendario */

/* css do calendario */
.css-gqp4xl-MuiPickersLayout-root {
  background-color: var(--moderate-gray) !important;
}

.css-1hbyad5-MuiTypography-root,
.css-gqp4xl-MuiPickersLayout-root .MuiPickersLayout-actionBar{
  display: none; 
}

.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title {
    font-size: 15px;
}

.css-1aqny2q-MuiPickersCalendarHeader-root{
  margin-top:3px;
}


.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button, 
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1prhkyx-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton,
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  color: violet;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel,
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root{
  color: var(--moderate-white);
}

.css-12p2adl-MuiDayCalendar-monthContainer{
   padding-top: 10px; 
} 

.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  border-color:violet;
}

/* css tela login */
.image-login{
  object-fit: cover;
  width: 200px;
}

.img-form-container{
  flex-direction: column;
  height: fit-content;
  background-color: var(--moderate-gray);
  border-radius: 15px;
}