@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
  width: 70%;
}

.card-title{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.card-text{
  font-size: 13px !important;
}

.css-12p2adl-MuiDayCalendar-monthContainer{
  padding-top: 10px;
}